body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  border-left: solid black 1px;
  border-top: solid black 1px;
  width: 400px; height: 400px;
}

.cell {
  width: 39px;
  height: 39px;
  background: #EEEEEE;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  display: block;
  float: left;
}

.is-active {
  background: red;
}
